.body1 {
    background-image: url('./asserts/Welcome.png');
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Scales the image to cover the entire background */
    background-position: center; /* Centers the image */
}
h1{
    color: crimson;
}
.one{
    color:rgb(183, 255, 0);
}
#two{
    color: blue;
}
.one{
   color: aqua;
}
.two{
     color: black;
}
.three{
    background-image: url('./asserts/Welcome.png');
}
.outerdiv{
    background-color: aquamarine;
    height: 100px;
   /* overflow:hidden; */
   overflow: scroll;
   /* overflow-x: scroll; */
   /* overflow-y: scroll; */
    text-align: center;
    display: block;
    
}
.innerdiv{
    background-color: rgb(223, 17, 17);
    height: 200px;
    display: block;
    text-align: center;
}
.container{
    width: 400px;
    height: 400px;
    background-color: blue;
}
.image{
    width: 100%;
    /* height: 100%; */

}
.block{
    width: 400px;
     height: 600px; 
    /* background-color: burlywood; */
    display: inline-block;
}
.image1{
    width: 100%;
    height: 200px;
}
.back{
    background-color: antiquewhite;
    
}
.container-main{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.container3{
    height: 250px;
    display: inline-block ;
}
.container2{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}
.container1{
    /* background-color: aqua; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form{
    border: 2px solid black;
    width: 300px;
    
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}
.main1{
    /* width: 100px; */
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
}
.middle1{
    width: 400px;
    display: block;
    text-align: center;
}
.middle{
    width: 400px;
    display: inline-block;
    /* background-color: aqua; */
    border-style: double;
    border-width: 12px;
    border-color: rgb(14, 14, 15);
    border-radius: 10px;

}
.start{
    width: 100%;
    height: 100%;
}